<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>backendlessWithPods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>211F003C1CC9C4230022B145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>211F00531CC9C4230022B145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>211F005E1CC9C4230022B145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
